.header {
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fafafc;
    display: flex;
    width: 100%;
    color: #000;
    text-align: center;
    padding: 50px 60px;
  }
  
  .headerContent {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1240px;
    gap: 20px;
    padding: 12px 0;
  }
  
  .logo {
    font: 700 64px Roboto Flex, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .nav {
    display: flex;
    gap: 6px;
    font-size: 32px;
    font-weight: 400;
    padding: 25px 17px 25px 51px;
  }
  
  .navLink {
    font-family: Roboto Flex, sans-serif;
    text-decoration: none;
    color: inherit;
  }
  
  .navIcon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 28px;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      white-space: initial;
      padding: 0 20px;
    }
  
    .headerContent {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  
    .logo {
      font-size: 40px;
    }
  
    .nav {
      padding-left: 20px;
      white-space: initial;
    }
  }