.hero {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 70px 80px;
  }
  
  .heroContent {
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1240px;
    color: #000;
    padding: 16px 60px;
  }
  
  .heroTitle {
    font: 900 64px Roboto, sans-serif;
  }
  
  .heroDescription {
    font: 300 32px Roboto Mono, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .ctaButton {
    justify-content: center;
    border-radius: 8px;
    background-color: #1b4fde;
    align-self: start;
    color: #fff;
    margin: 74px 0 5px 140px;
    padding: 28px 60px;
    font: 700 32px Roboto Flex, -apple-system, Roboto, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .hero {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .heroContent {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .heroTitle {
      max-width: 100%;
      font-size: 40px;
    }
  
    .heroDescription {
      max-width: 100%;
    }
  
    .ctaButton {
      margin: 40px 0 0 10px;
      padding: 20px 28px;
    }
  }