.team {
    align-items: center;
    backdrop-filter: blur(51.3px);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 32px 60px;
  }
  
  .teamContent {
    width: 100%;
    max-width: 1053px;
    display: flex;
    gap: 20px;
  }
  
  .teamTitle {
    color: #000;
    align-self: stretch;
    margin: auto 0;
    font: 900 64px Roboto, sans-serif;
    width: 34%;
  }
  
  .teamMembers {
    width: 66%;
    padding: 73px 29px;
  }
  
  @media (max-width: 991px) {
    .team {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .teamContent {
      max-width: 100%;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .teamTitle {
      width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  
    .teamMembers {
      width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }