.layout {
    align-content: space-between;
    background-color: #fafafc;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 100vh;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }