.Body {
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(34, 36, 38, 0.5);
    align-self: center;
    margin-top: 50px;
    width: 630px;
    max-width: 100%;
    padding: 281px 60px 225px;
    font: 700 32px Roboto Flex, -apple-system, Roboto, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .Body {
      margin-top: 40px;
      padding: 40px 20px;
    }
  }